[submodule "competition_metrics"]
	path = competition_metrics
	url = https://github.com/adaptyvbio/competition_metrics
[submodule "metl-pretrained"]
	path = metl-pretrained
	url = https://github.com/gitter-lab/metl-pretrained
