[submodule "competition_metrics"]
	path = round2/competition_metrics
	url = https://github.com/adaptyvbio/competition_metrics
[submodule "metl-pretrained"]
	path = round2/metl-pretrained
	url = https://github.com/gitter-lab/metl-pretrained
[submodule "competition_metrics/"]
	url = https://github.com/agitter/competition_metrics
